*{
  box-sizing: border-box;
}  

.row::after{
  content: "";
  clear: both;
  display: table;
}

[class*="col-"]{
  float: left;
  padding: 10px;
}  

[class*="col-"]{
  width: 100%;
}
/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px){


  .col-1 {
    width: 8.33%;
  }  
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  }
  
#appv_body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(240, 229, 229);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 25px;}
    .sidenav a {font-size: 18px;}
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.appv_appoint {
  background-color: #c7b7b7;
  padding: 20px;
  border: 1px solid #bdd6dd;
  border-radius: 5px;
  margin-bottom: 20px;
  width: auto;
}

.appv_appoint h1 {
  color: #350404;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.appv_appoint nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.appv_appoint a.nav-link {
  color: #555;
  background-color: rgb(180, 204, 204);
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #36a9b1;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
}

.appv_appoint a.nav-link:hover {
  background-color: #ddd;
}

.appv_p{
  font-style: italic;
  font-size: small;
  color: #2a2c2c;
  margin: 10px;
}