#app_body{
  background-image: url('../images/vitals.png');
  background-size: cover;
}

.sidenav {
  position: relative;
  top: -10px;
  left: 0; 
  z-index: 1;
  height: 100%;
  width: 0;
  background-color: #000f3a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#app_span{
position: relative;
top: -100px;
font-size: 30px;
cursor:pointer;
background-color: #a2f0ec;
color: rgb(223, 200, 200);
margin-left: 150px;
}

/*style for the appointment form*/
#appointments {
  position: relative;
  top: -10px;
  left: 0;
  max-width: 400px;
  margin: 0;
  margin-left: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(209, 182, 182);
  box-shadow: #cfc3c3 0px 0px 0px 2px;
}

  #h2{
    position: relative;
    top: 0px;
    left: 100px;
    margin-inline: auto;
    color: #93dbd9;
    font-size: x-large;
  }
  
  #appointments label {
    display: block;
    margin-bottom: 5px;
  }
  
  #appointments input[type="text"],
  #appointments input[type="number"],
  #appointments input[type="date"],
  #appointments input[type="time"],
  #appointments textarea,
  #appointments select {
    background-color: #95e0de;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #36a9b1;
    border-radius: 4px;
    box-sizing: border-box; 
}

#appointments textarea{
  height: 50px;
  resize: none;
}
  
  #appointments input[type="text"]:focus,
  #appointments input[type="number"]:focus,
  #appointments input[type="date"]:focus,
  #appointments input[type="time"]:focus,
  #appointments textarea:focus,
  #appointments select:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px rgba(2, 37, 71, 0.75);
  }
  
  .appointment_button {
    background-color: #0d2770;
    color: #a4fefb;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .appointment_button:hover {
    background-color: #95e0de;
    color: rgb(196, 158, 158);
    box-shadow: 0px 0px 2px 1px rgba(2, 37, 71, 0.75);
  }
  
  span{
    background-color: #ffffff;
    color: red;
    font-weight: bold;
  }

  #display-container{
    position: relative;
    top: 0px;
    left: 50px;
    margin-inline: auto;
    padding: 10px;
    color: rgb(16, 91, 97);
    width: 400px;
    height: auto;
    font-size: large;
    text-align: left;
    border-radius: 10px;
    background-color: #93dbd9;
    box-shadow: #7c6868 3px 3px 2px 1px;
  }