*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
}

.c_body{
    background: url("../images/contact.png");
    padding: 0 auto;
}

.wrapper{
   /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);      /* to position the form at the center of the screen*/
    
    margin: 50px auto;
    max-width: 350px;
    width: 100%;
    background: #a4fefb;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(175, 255, 235, 0.7);
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"], .wrapper textarea{
    width: 100%;
    border: 1px solid #a1a4ff;
    padding: 10px;
    border-radius: 3px;
}

.wrapper textarea{
    height: 80px;
    resize: none;
}

.wrapper .butn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #365bff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius:6px;
    cursor: pointer;
}

.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fa6368;
    text-align: center;
    font-size: 14px;
    transition: all 0.7s ease;
}