*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
}

li{
    list-style: none;
}

a{
    color: #515151;
    text-decoration: none;
}

ul li .nlogin{
  border: 10px 15px;
  background-color: #00B4FC;
  color: #fff;
  cursor: pointer;
}

ul li .nlogin:hover{
  background-color: #3E45F0;
  color: #fff;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    margin: 0 100px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #00B4FC;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00B4FC;
}

@media (max-width: 768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        margin: 0 30px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 85px;
        gap: 0;
        flex-direction: column;
        background-color: wheat;
        width: 100%;
        text-align: center;
        transition: 0.6s;
        z-index: 20;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        
    }

}










/* general reset */
/*


.lg_modal{
  position: absolute;
  left: 0px;
  top: 0px;
  /*z-index: -1; This will tulk in the modal under the nav bar on scroll
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

/* Center the image and position the close button */
.lg_imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.lg_avatar {
  width: 30%;
  border-radius: 50%;
}

.lg_container {
  padding: 16px;
}


span.lg_pasw {
  float: center;
  padding-top: 16px;

}

/* The Modal (background) */

.lg_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.lg_modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.lg_close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;

}

.lg_close:hover, .lg_close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.lg_animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
