/*Styling Side Navigation Bar*/
#v_body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('../images/Vitals.jpg');
  background-size: cover; 
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4a5a5;
    min-width: 160px;
    max-height: 200px;
    overflow-y: auto; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.sidenav {
  position: relative;
  top: 0px;
  left: 0;
  z-index: 1;
  height: 50%;
  width: 0;
  background-color: #000f3a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
  margin-inline: auto;
}

/*Styling Side Nav Link*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
  color: rgb(248, 237, 216);
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#app_span{
  position: relative;
  top: -100px;
  font-size: 30px;
  cursor:pointer;
  background-color: #93dbd9;
  color: rgb(223, 200, 200);
  margin-left: 150px;
  flex: 1;
  }

#vg{
  position: relative;
  top: -10px;
  margin-top: 100px;
  height: 150px;
  width: 150px;
  margin-inline: auto;
  background-color:rgb(201, 157, 157); 
  border-radius: 50%;
  padding: 50px 20px 40px 10px;
  font-size: 170%;
  font-weight: bold;
  color: #93dbd9;
  flex: 1;
  opacity: 0.5;
}

#vg3{
  position: relative;
  top: -10px;
  left: 30px;
  margin-top: 80px;
  margin-inline: auto;
  padding: 5px;
  background-color: rgb(201, 157, 157);
  color: #93dbd9;
  width: 400px;
  height: 40px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  border-radius: 40%;
}

#vitals_form {
    position: relative;
    top: -60px;
    left: 20px;
    border-radius: 5px;
    width: auto;
    margin: 80px;
    padding: 20px 20px;
    font-weight: bold;
    background-color: rgb(209, 182, 182);
    box-shadow: #cfc3c3 0px 0px 0px 2px;
    }

    h4{
      text-shadow: #7c6868 2px;
      box-shadow: #7c6868 0 3px;
    }

    /* Styling form-control Class */
    .form-control {
     text-align: left;
    }

    /* Styling form-control Label */ 
    .form-control label {
        color: rgb(10, 78, 83);
        display: block;
        text-align: left;
    }

    /* Styling form-control input, 
    select, textarea */
    .form-control input {
      background-color: #95e0de;
        border: 1px solid #777;
        border-radius: 5px;
        font-family: inherit;
        font-size: large;
        padding: 10px;
        display: block;
        height: 38px;
        width: auto;
    }

    .v_button {
      background-color: #0d2770;
      color: #a4fefb;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .v_button:hover{
      background-color: #95e0de;
      color: rgb(196, 158, 158);
      box-shadow: 0px 0px 2px 1px rgba(2, 37, 71, 0.75);
    }

    table{
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      max-width: 100%;
      height: 100%;
    }

     th, td{
      border: 2px solid;
      height: 50px;
      width: 50px;
     }

  /* The Modal (background) */
  .news1_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  .news1_modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /*5% from the top, 15% from the bottom and centered*/
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  /* Add Zoom Animation */
.news1_animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.news1_button{
  color: #555;
  background-color: #a4fefb;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #36a9b1;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

caption{
  background-color: #ffffff;
  color: #7c6868;
  border: solid 2px #000000;
  padding: 5px;
  font-weight: bold;
}

p{
  text-align: left;
  font-weight: bold;
  padding: 3px;
}

#hmain{
  background-color: rgb(136, 198, 223);
}

#hmin{
  background-color: #e2d6c6;
}

#hsub{
  background-color: rgb(171, 226, 226);
}

#emergent{
  background-color: rgb(245, 125, 125);
}

#urgent{
  background-color: rgb(236, 149, 117);
}

#elective{
  background-color: #4CAF50;
}

 /* The Modal (background) */
 .news2_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.news2_modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /*5% from the top, 15% from the bottom and centered*/
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

 /* Add Zoom Animation */
 .news2_animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.news2_button{
  color: #555;
  background-color: rgb(180, 204, 204);
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #36a9b1;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
}

#display-container2{
  position: relative;
  top: 0;
  left: 0;
  margin-inline: auto;
  padding: 10px;
  color: rgb(16, 91, 97);
  width: 400px;
  height: auto;
  font-size: large;
  text-align: left;
  border-radius: 10px;
  background-color: #93dbd9;
  box-shadow: #7c6868 3px 3px 2px 1px;
}

